## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Salalah,OM,78.89,few clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
1,7,Kibala,TD,75.15,clear sky,9.1104,18.3463,hotel safari
2,9,Mar Del Plata,AR,63.88,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
3,12,Busselton,AU,60.04,broken clouds,-33.6500,115.3333,Observatory Guest House
4,13,Rikitea,PF,75.52,scattered clouds,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Deoria"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Deoria"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Govindgarh"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Sirsa"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Pithoragarh"]

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = pd.DataFrame(vacation_start, columns = ["Lat", "Lng"]).to_numpy()
#print(start)
end = pd.DataFrame(vacation_end, columns = ["Lat", "Lng"]).to_numpy()
stop1 = pd.DataFrame(vacation_stop1, columns = ["Lat", "Lng"]).to_numpy()
stop2 = pd.DataFrame(vacation_stop2, columns = ["Lat", "Lng"]).to_numpy()
stop3 = pd.DataFrame(vacation_stop3, columns = ["Lat", "Lng"]).to_numpy()
print(start[0])

[26.5047 83.7872]

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
traveling = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], travel_mode='DRIVING')
fig.add_layer(traveling)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,379,Deoria,IN,79.88,clear sky,26.5047,83.7872,RAJSHREE INN
1,590,Govindgarh,IN,78.33,clear sky,27.5000,76.9833,Manoj Rajput
2,453,Sirsa,IN,79.61,clear sky,29.5333,75.0167,OYO 48542 Hotel Capital
3,662,Pithoragarh,IN,61.00,clear sky,29.5833,80.2167,Hipostel Pithoragarh (Cafe Morrison)
4,379,Deoria,IN,79.88,clear sky,26.5047,83.7872,RAJSHREE INN

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(28.0, 80.0), zoom_level=4.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))